/*.contact {
    margin-left: 15%;
    font-size: large;
    color: #ffebcf;
    font-weight: 700;
    text-shadow: 1px 1px rgb(87, 72, 43);
      .card {
        padding: 1rem;
        border: 1px solid #6d4d036f;
      }
    
      .card2 {
        padding: 2rem;
        background-color: #6d4d036f;
        color: rgb(87, 72, 43);
        font-family: "Crimson Text", "serif";
        font-size: medium;
        h3,
        p {
          color:#ffebcf;
        }
        .icons {
          margin: 3rem 0;
          span {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 1rem;
            a,
            p {
              margin-left: 5px;
            }
          }
        }
      }
      .btn {
        color: #ffebcf;
        font-weight: 700;
        font-family: "Crimson Text", "serif";
        text-shadow: 1px 1px rgb(87, 72, 43);
        padding: 6px 8px;
        margin: 0 5px 0 0;
        border: 1px solid transparent;
        border-radius: 3px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
        text-decoration: none;
      }
      .btn:hover {
        transform: translateY(-2px);
      }
      .section {
        display: flex;
        align-items: start;
    
        form {
          width: 500px;
          max-width: 100%;
          margin-right: 1rem;
          margin-bottom: 1rem;
          label {
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
          }
          input[type="text"],
          input[type="number"],
          input[type="file"],
          input[type="email"],
          select,
          textarea,
          input[type="password"] {
            display: block;
            font-size: 1.6rem;
            font-weight: 300;
            padding: 1rem;
            margin: 1rem auto;
            width: 100%;
            border: 1px solid #b8a8a8;
            border-radius: 3px;
            outline: none;
          }
        }
      }
    }
    
    @media screen and (max-width: 700px) {
      .contact {
        .section {
          flex-direction: column;
        }
      }
    }*/